/*Home Page*/
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/* Navigation */
nav {
    background:  rgba(0, 68, 14, 0.500);
    display: flex;
   align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    color: whitesmoke;
    padding: 10px;
    
   
   
}


/*banner w/ navigation*/
.logo {
    display: flex;
    align-items: center;
    
}



.logo img {
    max-height: 40px;
    margin-right: 10px;
}



nav ul {
    list-style-type: none;
   display: flex;
   gap: 20px;
  
 
}

nav ul li {
    display: inline;

}

nav ul li a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
  
}

    nav a:hover {
        color: rgba(245, 245, 245, 0.349);
    }

    

/* Search bar on navbar */

.searchWrapper {
    position: relative;
    width: 100%;
    margin-right: 20px;
    right: 20px;
 
}

.searchContainer input[type="text"] {
    padding: 10px 120px 10px 10px;
    border: 0px solid  rgba(0, 68, 14, 0.500);
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;

}

.searchContainer #searchButton,
.searchContainer #clearButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    border-radius: 5px;
    color: whitesmoke;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

.searchContainer #searchButton {
    margin-right: 15px;
}

.searchContainer #searchButton {
    right: 70px; /* Adjust as needed */
    background-color: rgba(0, 68, 14);
}

.searchContainer #searchButton:hover {
    background-color: rgba(0, 68, 14, 0.500);
}

.searchContainer #clearButton {
    right: 10px; /* Position close to the edge */
    background-color: rgba(63, 62, 62);
}

.searchContainer #clearButton:hover {
    background-color: rgba(63, 62, 62, 0.500);
}




/* background image for webpage*/

#imgBack{
    display:block;
    width:100%; 
    height:100%;
    object-fit: cover;
    
  }



  button {
border-radius: 5px;
width: 70px;
height: 30px;
border-style: none;

  }

  button :hover {
    cursor: pointer;
  }
/* Home page container for explore dream destination & info */

.containerMain {
   position: relative;
   text-align: left;
   background: whitesmoke;

}

.title-left h2 {
    position: absolute;
    left: 150px;
    top: 250px;
 font-weight: bold;
 font-size: 40px;
    color: whitesmoke;
    width: 150px;
}

.middle-left  p {
    position: absolute;
    left: 148px;
    top: 420px;
    color:whitesmoke;
width: 300px;
font-size: 16px;
border:none;
padding: 20px;
border-radius: 10px;
}

/* side bar with vertical line and social media contacts */

.sidebarContainer {
    position: absolute;
    display: flex;
}

.vertline {
    display: flex;
    position: absolute;
    border-left: 2px solid whitesmoke;
    height: 200px;
    left: 75px;
    top: 180px;
}
.icons {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 20px;
    height: 250px;
    top: 420px;
    left: 50px;
    padding: 20px;

    
}

.icons :hover {
    cursor: pointer;
   
}

/* book now button */

#bookNow {
    position: absolute;
    margin-top: 600px;
    margin-left: 170px;
    width: 150px;
    background-color: rgba(0, 68, 14);
    color: whitesmoke;
}

 #bookNow:hover{
    cursor: pointer;
    background-color: rgba(0, 68, 14, 0.500);

 }   

 /* explore dream destination */

.title-left h2 {
    position: absolute;
    left: 170px;
    top: 250px;
 font-weight: bold;
 font-size: 40px;
    color: whitesmoke;
    width: 150px;
}
/* About Us Page */


.aboutUs h2 {
    position: absolute;
    left: 150px;
    top: 230px;
 font-weight: bold;
 font-size: 40px;
    color: whitesmoke;
    width: 250px;
}


.aboutInfo {
    display: flex;
    position: absolute;
    left: 155px;
    top: 300px;
    width: 1070px;
    height: 140px;
   border:none;
   padding: 20px;
   border-radius: 10px;
  

}


.aboutInfo p {
    text-align: left;
    color: whitesmoke;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
}


#team  {
    position: absolute;
    top: 550px;
    left: 200px;
    color: whitesmoke;
    font-size: 40px;
    font-weight: bold;
}

.containerourTeam {
    display: flex;
    position: absolute;
justify-content: space-evenly;
align-items: center;
flex-wrap: wrap;
gap: 20px;
top: 500px;
left: 400px;



}
 /* container for team information box (team members) */
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    width: 250px;
    height: 200px;
    background-color: rgba(0, 68, 14, 0.500);
    border-radius: 10px;
    padding: 2px; 

}


.box p {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: whitesmoke;
    
}

.box button {
 color: whitesmoke;
 background-color: rgba(0, 68, 14);
    width: 150px;
   
}



.box img {
margin-top: 25px;
}

/*Contact Us*/

#contactUs {
    position: absolute;
    top: 400px;
    left: 200px;
    color: whitesmoke;
    font-size: 32px;
    font-weight: bold;
}

#intouch {
    position: absolute;
    top: 480px;
    left: 210px;
    color: whitesmoke;
}

form {

    display: inline-block;
    padding: 16px;
    border: 2px solid rgba(0, 68, 14);
    border-radius: 16px;
    position: absolute;
    background-color:rgba(0, 68, 14, 0.500);
    top: 300px;
    left: 50%;
    width: 650px;
    height: 420px;
}

form ul {
    list-style: none;
    padding: 5px;
    margin: 0;
    color: rgba(245, 245, 245, 0.308);
}

form li + li {
    margin-top: 16px;
    padding: 5px;
    color: whitesmoke;
}

label {
    display: inline-block;
    min-width: 90px;
    text-align: left;
    color: whitesmoke;

}

input, textarea {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid rgb(73, 73, 73);
    color: rgba(0, 68, 14);
}

input:focus, 
textarea:focus {
 border: 2px solid rgb(73, 73, 73);

 
}

textarea {
    vertical-align: top;
    height: 5em;
    
    
}

.buttonSub {
    padding-left: 5px;
}

#buttonsmt {
    width: 100%;
    border-radius: 2px;
    background-color:  rgb(0, 68, 14);
    color: whitesmoke;
}

#buttonsmt :hover {
    cursor: pointer;
}

::placeholder {
    color: rgba(0, 68, 14);
}



#name, #email, #message {
background-color: rgba(245, 245, 245, 0.589);
}

#name:hover, #email:hover, #message:hover {
   background-color:rgba(245, 245, 245);
}

/* Search bar Results */

 #result {
    position: absolute;
align-items: center; 
justify-content: center;
top: 150px;
left: 60%;
margin-right: 10%;

}

#result img {
   margin-top: 20px;
border-top-left-radius:10px;
border-top-right-radius: 10px;
border: solid 4px rgba(0, 68, 14, 0.500); ;


}


#result button {
    color: whitesmoke;
    background-color:  rgba(0, 68, 14);

}

#result button:hover {
 cursor: pointer;
}


.destSearchContainer {
    color: white;
background-color:rgba(0, 68, 14, 0.500);
padding: 10px;
width: 388px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;

}

